body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/campo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.p_verde{background-color: rgb(70, 202, 114);
text-align: center;
font-style: bold;
font-size: 23px;}

.imagen{
  width: 230px;
  height: 80px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

footer{
  height: 130px;
}
